# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
dist/

# Environment / Data
.env
*.csv
*.pcap

# Frontend & NestJS Dependencies
**/node_modules/
**/dist/
**/.vite/
**/.nuxt/

# Local env files
**.env
**.env.local

# Logs
**/npm-debug.log*
**/yarn-error.log*